[Unit]
Description=Town OS System Controller

[Service]
Type=simple
PassEnvironment=LOG_LEVEL DEBUG TOWN_OS_REPO_USERNAME TOWN_OS_REPO_PASSWORD TOWN_OS_NETWORK_MODE TOWN_OS_LISTEN TOWN_OS_TEST TOWN_OS_TEST_REPO_CORE_URL TOWN_OS_TEST_REPO_EXTRAS_URL
ExecStart=/systemcontroller -db /data/db/dev.db -btrfs /town-os -repo-dir /data/repos

[Install]
WantedBy=multi-user.target
