[Unit]
Description=Town OS Test Server

[Service]
Type=simple
PassEnvironment=LOG_LEVEL DEBUG
ExecStart=/testserver -db /data/dev.db -btrfs /data/btrfs

[Install]
WantedBy=multi-user.target
