[Unit]
Description=Town OS System Controller
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=2
PassEnvironment=LOG_LEVEL DEBUG TOWN_OS_REPO_USERNAME TOWN_OS_REPO_PASSWORD TOWN_OS_LISTEN TOWN_OS_TEST TOWN_OS_TEST_REPO_CORE_URL TOWN_OS_TEST_REPO_EXTRAS_URL ROLODEX_IMAGE ROLODEX_LOCAL UI_IMAGE
ExecStart=/systemcontroller -db /data/db/dev.db -btrfs /town-os -repo-dir /data/repos

[Install]
WantedBy=multi-user.target
